backports-abc==0.5
boto==2.39.0
google-auth==1.0.2
google-cloud==0.27
intern==0.9.4
numpy==1.13.1
pytest==3.0.7 
Pillow==4.2.1
protobuf==3.3.0
requests==2.18.4
scipy==0.18.1
six==1.10.0
tqdm==4.7.6
urllib3[secure]