boto3>=1.4.7
chardet>=3.0.4
cloud-files>=4.24.0,<5.0.0
compressed-segmentation>=2.1.1
DracoPy>=1.0.0,<2.0.0
fastremap>=1.14.0
gevent
google-auth>=1.10.0
google-cloud-core>=1.1.0
google-cloud-storage>=1.24.1
json5
jsonschema!=4.0
microviewer
numpy>=1.13.3
networkx
python-jsonschema-objects>=0.3.3
pathos
protobuf>=3.3.0
python-dateutil
requests>=2.22.0
psutil
pysimdjson>=3.1.1
simplejpeg
six>=1.10.0
tenacity>=4.10.0
tqdm
urllib3[brotli]>=1.25.7
