backports-abc==0.5
boto3>=1.4.7
chardet==3.0.4
google-auth>=1.0.2
google-cloud==0.32.0
-e git+https://github.com/seung-lab/intern.git#egg=intern
json5==0.5.1
numpy>=1.13.3
posix_ipc==1.0.4
psutil==5.4.3
pytest>=3.3.1 
python-jsonschema-objects==0.2.1
Pillow>=4.2.1
protobuf>=3.3.0
requests>=2.18.4
six==1.10.0
tenacity==4.4.0
-e git+https://github.com/seung-lab/tqdm.git#egg=tqdm
urllib3[secure]